In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.notebook_repr_html", False)

In [3]:
drivers = pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/playground/master/datasets/drivers/drivers.csv",
    sep=",",  # separador de campos
    thousands=None,  #  separador de miles para números
    decimal=".",
)  #  separador de los decimales para números

In [5]:
drivers.head(10)

   driverId               name        ssn                            location  \
0        10  George Vetticaden  621011971                  244-4532 Nulla Rd.
1        11     Jamie Engesser  262112338                  366-4125 Ac Street
2        12        Paul Coddin  198041975           Ap #622-957 Risus. Street
3        13        Joe Niemiec  139907145                 2071 Hendrerit. Ave
4        14         Adis Cesir  820812209                 Ap #810-1228 In St.
5        15       Rohit Bakshi  239005227                   648-5681 Dui- Rd.
6        16         Tom McCuch  363303105    P.O. Box 313- 962 Parturient Rd.
7        17        Eric Mizell  123808238  P.O. Box 579- 2191 Gravida. Street
8        18          Grant Liu  171010151         Ap #928-3159 Vestibulum Av.
9        19         Ajay Singh  160005158             592-9430 Nonummy Avenue

  certified wage-plan
0         N     miles
1         N     miles
2         Y     hours
3         Y     hours
4         Y     hours
5         Y     hours
6         Y     hours
7         Y     hours
8         Y     hours
9         Y     hours

### Creación de la tabla timesheet

In [6]:
timesheet = pd.read_csv(
   "https://raw.githubusercontent.com/jdvelasq/playground/master/datasets/drivers/timesheet.csv",
    sep=",",  # separador de campos
    thousands=None,  #  separador de miles para números
    decimal=".", #  separador de los decimales para números
)

In [7]:
timesheet.head(10)

   driverId  week  hours-logged  miles-logged
0        10     1            70          3300
1        10     2            70          3300
2        10     3            60          2800
3        10     4            70          3100
4        10     5            70          3200
5        10     6            70          3300
6        10     7            70          3000
7        10     8            70          3300
8        10     9            70          3200
9        10    10            50          2500

### Cantidad de horas y millas de cada conductor por año

In [9]:
sum_timesheet = timesheet.groupby("driverId").sum()
sum_timesheet

          week  hours-logged  miles-logged
driverId
10        1378          3232        147150
11        1378          3642        179300
12        1378          2639        135962
13        1378          2727        134126
14        1378          2781        136624
15        1378          2734        138750
16        1378          2746        137205
17        1378          2701        135992
18        1378          2654        137834
19        1378          2738        137968
20        1378          2644        134564
21        1378          2751        138719
22        1378          2733        137550
23        1378          2750        137980
24        1378          2647        134461
25        1378          2723        139180
26        1378          2730        137530
27        1378          2771        137922
28        1378          2723        137469
29        1378          2760        138255
30        1378          2773        137473
31        1378          2704        137057
32        1378          2736        137422
33        1378          2759        139285
34        1378          2811        137728
35        1378          2728        138727
36        1378          2795        138025
37        1378          2694        137223
38        1378          2760        137464
39        1378          2745        138788
40        1378          2700        136931
41        1378          2723        138407
42        1378          2697        136673
43        1378          2750        136993

In [10]:
sum_timesheet = sum_timesheet[["hours-logged", "miles-logged"]]
sum_timesheet.head()

          hours-logged  miles-logged
driverId
10                3232        147150
11                3642        179300
12                2639        135962
13                2727        134126
14                2781        136624

In [11]:

# sum_timesheet['driverId'] = sum_timesheet.index.tolist()
# sum_timesheet.head()

# Unión de tablas

In [12]:
summary = pd.merge(sum_timesheet, drivers[["driverId", "name"]], on="driverId")
summary

    driverId  hours-logged  miles-logged                 name
0         10          3232        147150    George Vetticaden
1         11          3642        179300       Jamie Engesser
2         12          2639        135962          Paul Coddin
3         13          2727        134126          Joe Niemiec
4         14          2781        136624           Adis Cesir
5         15          2734        138750         Rohit Bakshi
6         16          2746        137205           Tom McCuch
7         17          2701        135992          Eric Mizell
8         18          2654        137834            Grant Liu
9         19          2738        137968           Ajay Singh
10        20          2644        134564         Chris Harris
11        21          2751        138719         Jeff Markham
12        22          2733        137550        Nadeem Asghar
13        23          2750        137980            Adam Diaz
14        24          2647        134461          Don Hilborn
15        25          2723        139180  Jean-Philippe Playe
16        26          2730        137530         Michael Aube
17        27          2771        137922      Mark Lochbihler
18        28          2723        137469      Olivier Renault
19        29          2760        138255           Teddy Choi
20        30          2773        137473             Dan Rice
21        31          2704        137057        Rommel Garcia
22        32          2736        137422       Ryan Templeton
23        33          2759        139285    Sridhara Sabbella
24        34          2811        137728         Frank Romano
25        35          2728        138727          Emil Siemes
26        36          2795        138025        Andrew Grande
27        37          2694        137223            Wes Floyd
28        38          2760        137464           Scott Shaw
29        39          2745        138788         David Kaiser
30        40          2700        136931     Nicolas Maillard
31        41          2723        138407        Greg Phillips
32        42          2697        136673      Randy Gelhausen
33        43          2750        136993          Dave Patton

In [13]:
pd.merge?

## Almacenamiento de los resultados

In [14]:
!mkdir -p tmp
summary.to_csv(
    "tmp/summary.csv",
    sep = ",",
    header = True,
    index = True)

A subdirectory or file -p already exists.
Error occurred while processing: -p.
A subdirectory or file tmp already exists.
Error occurred while processing: tmp.

In [15]:
!head tmp/summary.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [1]:
ID = [1, 2, 3, 4]

In [ ]:
def pollant (ID, pollant = ["monda", "monda2"], directory):

    df = pd.read_csv(directory + "ID.csv")
    df.append(df)
    return means

np.mean(means)

In [2]:
for i in ID:
    print(i)

1
2
3
4

In [ ]:
directory = "C://Desktop/Documents/Laura/Cousera/R/trabajo1"

In [ ]:
def(ID, "monda", directory):
    for i in ID:
        read.csv(file = directory + "/" str(ID) + ".csv")

In [ ]:
import pandas as pd
import glob

path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)